<h1 class="title">Bike Inventory</h1>

<div class="centered-container">
  <!-- Form for adding a new bike -->
  <div class="add-bike-form">
    <h2>Add A New Bike</h2>
    <div>
      <label>Type: </label>
      <input [(ngModel)]="newBike.type" />
    </div>
    <div>
      <label>Image: </label>
      <input type="file" />
    </div>
    <button (click)="addBike()">Add Bike</button>
  </div>

  <!-- Displaying list of bikes -->
  <div class="bike-list" *ngIf="bikes.length; else noBikesTemplate">
    <h2>List of Bikes</h2>
    <div *ngFor="let bike of bikes" class="bike-item">
      <img [src]="bike.imgUrl" alt="Bike Image" />

      <p>Price: ${{ bike.price }}</p>
      <p>Type: {{ bike.type }}</p>
      <button class="remove-button" (click)="deleteBike(bike.id)">Delete</button>
    </div>
  </div>

  <!-- Template to show when there are no bikes -->
  <ng-template #noBikesTemplate>
    <h2>{{ "You don't have any bikes in your inventory." | uppercase }}</h2>
</ng-template>
</div>


